h1{
  font-family: 'Roboto', sans-serif;
  font-size:45px;
  text-transform:uppercase;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  text-transform:uppercase;
}

h3{
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
}

p{
  font-family:'Roboto',Sans-serif;
  font-size:13px;
  padding-bottom:10px;
}
.card.wide h2 {
  text-align:center;
  font-size:40px;
  
}

